.me {

    display: flex;
    flex-direction: row;
    gap: 2cm;
    justify-content: center;
    border-bottom: 2px solid darkgray;
    margin-bottom: 40px;
    padding: 0px;
    width: 100%;
    height: auto;
}

.me h5 {
    font-size: 20px;
}

.stack {
    color: #FFC436;
    font-family: 'Prompt', sans-serif;
}

.name {
    color: white;
    width: auto;
    align-items: center;
    margin-top: 50px;
}

.aboutme {
    margin-top: 40px;
    color: #FFC436;
}

.bio {
    padding: 0px;
    max-width: 15cm;
    color: white;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    font-size: medium;
    margin-top: 10px;
}

.img {
    border-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 10cm;
    max-width: 8cm;
    border-radius: 10%;
    border: 2px solid #FFC436;
    animation: borderAnimation 50s infinite linear;
}


@keyframes borderAnimation {
    0% {
        border-color: #FFC436;
    }

    50% {
        border-color: black;
    }

    100% {
        border-color: #FFC436;
    }
}