<section class="me">
    <div>
        <h2 class="name">Henrique Teixeira Ornelas</h2>
        <h4 class="stack">Desenvolvedor Full Stack</h4>

        <h5 class="aboutme">Sobre mim</h5>
        <p class="bio"> "Sou um desenvolvedor Full Stack Junior apaixonado por programação desde 2021.
            Antes de mergulhar no mundo da tecnologia, trabalhei por mais de 5 anos no varejo, atuando como
            vendedor e sub-gerente de lojas, também por volta de 5 anos atuei como empreendedor no ramo de
            estética automotiva. Essas experiências me proporcionaram habilidades valiosas em liderança,
            comunicação, trabalho em equipe, resolução de problemas e resiliência. Agora, estou focado em
            aprimorar minhas habilidades de programação e construir soluções inovadoras. Estou animado para
            enfrentar novos desafios e contribuir para projetos incríveis. Vamos criar algo incrível juntos!"
        </p>
    </div>
    <div class="imgborder">
        <img src="../../../assets/me.jpg" alt="me" class="img">
    </div>
</section>
<app-tecnologys></app-tecnologys>
<app-projects></app-projects>