.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    height: auto;
}

.projectss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: inherit;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    gap: 25px;
}

.projectssItens {
    max-width: 6cm;
}

.projectssItens:hover {
    position: relative;
    transform: translateY(-5px);
    cursor: pointer;
}

.projectssItens img {
    width: 6cm;
    height: 4cm;
}

hr {
    color: white;
    border: 2px solid;
}

.stack {
    color: #FFC436;
    font-family: 'Prompt', sans-serif;
}

.stack:hover {
    text-decoration: underline solid 2px #FFC436;
    position: relative;
    transform: translateY(-5px);
    cursor: pointer;
}