<section class="projects">
    <h3 class="stack">Meus Projetos</h3>
    <div class="projectss">
        <div class="card projectssItens">
            <img src="../../../assets/Carimbo-em-Breve.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Card title</h5>
                <p>Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card projectssItens">
            <img src="../../../assets/Carimbo-em-Breve.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Card title</h5>
                <p>Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card projectssItens">
            <img src="../../../assets/Carimbo-em-Breve.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Card title</h5>
                <p>Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="projectssItens">
            <img src="../../../assets/Carimbo-em-Breve.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

</section>