<section class="techs">
    <h3 class="stack">Tecnologias</h3>
    <div class="icons">
        <div>
            <img src="../../../assets/html.png" alt="html" class="icon" title="HTML 5">

        </div>
        <div>
            <img src="../../../assets/css.png" alt="css" class="icon" title="CSS">

        </div>

        <div>
            <img src="../../../assets/js.png" alt="js" class="icon" title="JavaScript">

        </div>
        <div>
            <img src="../../../assets/Node.png" alt="node" class="icon" title="NodeJS">

        </div>
        <div>
            <img src="../../../assets/react.png" alt="react" class="icon" title="React">

        </div>
        <div>
            <img src="../../../assets/angular.png" alt="angular" class="icon" title="Angular">

        </div>
        <div>
            <img src="../../../assets/py.png" alt="python" class="icon" title="Python">

        </div>
        <div>
            <img src="../../../assets/Flask.png" alt="flask" class="icon" title="flask">
        </div>
    </div>
</section>