<header>
    <nav>
        <a class="brand">
            <h2>ORNELAS .DEV</h2>
        </a>
        <ul class="links">
            <li><a routerLink="/"> Home </a></li>
            <li id="ctt"><a routerLink="contact">Contato</a></li>
            <li><a routerLink="about">Sobre mim</a></li>
            <li class="to">
                <a href="https://www.linkedin.com/in/henrique-ornelas/" target=”_blank”><img
                        src="../../../assets/linkedin.png" alt="linkedin"></a>
            </li>
            <li class="to">
                <a rel="noopener" href="https://github.com/RiccoOrnelas/" target="_blank">
                    <img src="../../../assets/github.png" alt="github">
                </a>
            </li>

        </ul>
    </nav>
</header>